version: '3.8'
services:
  main-service:
    container_name: main-service
    build: ./main-service
    ports:
      - "8080:8080"
    depends_on:
      - stat-service
    environment:
      - STAT_SERVER_URL=http://stats-server:9090

  stat-service:
    build: ./stats-service/stats-server
    container_name: stats-server
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - DB_NAME=statistic
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - DB_HOST=db
      - DB_PORT=5432

  db:
    image: postgres:13.7-alpine
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=statistic
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
